@import 'colors';

.home1{
    width: 100%;
    height: 100vh;
    background-color: $second;

    h1{
        position: absolute;
        right: 5%;
        top: 40%;
        color: $first;
        font-size: 8rem;
    }
    p{
        position: absolute;
        right: 5%;
        top: 60%;
        color: $first;
        font-size: 1.2rem;
    }

    &::before{
        content:"";
        width: 100%;
        height: 100%;
        background: url('../assests/1.png');
        border-radius: 0 0 100px 100px;
        position:absolute;
        filter: blur(3px);
    }

}

.home2{
    background-color: $second;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $first;
    padding: 200px 0;
    margin-top: -100px;
    margin-bottom: -100px;
    

    > img{
        width: 30%;
        animation: imgUp linear  0.7s  infinite alternate  ;
    }

    @keyframes imgUp {
        to{
            transform: translateY(-10px);
        }
    }

    >p{
        width: 30%;
        font-size: 1.3rem;
    }
}

.home3{

    background-color: $second;
    width: 100%;
    height: 110vh;

    >.home3cont{
        background-color: $first;
        width: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        border-radius: 0 200px 200px 0;

        >h1{
            padding: 10%;
            margin: 0 auto;
            text-decoration: underline;
            font-size: 3rem;
        }

        >p{
            padding: 0 10%;
            font-size: 1.5rem;
        };

    }

   

}

.home4{
    background-color: $second;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    

    >div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        background-color: $third;
        border-radius: 200px 0 0 200px;

        >h1{
            color: $first;
            font-size: 3rem;
            text-decoration: underline;
            padding: 5rem;
        }

        >article{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 5rem;


            >div{
                animation: imgUp 0.7s linear alternate infinite;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                background-color: $first;
                margin: 1rem;
                height: 10rem;
                width: 10rem;
                border-radius: 50%;

                color: $dark;
                cursor: pointer;
                transition: all 0.5s;

                &:hover{
                    filter: invert(1);
                }

                svg{
                    font-size: 4rem;
                }
            }

        }

    }

}